<div class="user">


    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No:</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>arun</td>
                <td>kumar</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>swathi</td>
                <td>c</td>
                <td>24</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>john</td>
                <td>albert</td>
                <td>23</td>
            </tr>
        </tbody>
    </table>